.section {
    padding: 40px 0;
    background-color: var(--background);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    opacity: 0.6;
}

.logoItem {
    font-size: 20px;
    font-weight: 800;
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 2px;
}

@media (max-width: 768px) {
    .container {
        justify-content: center;
    }
}