.section {
    width: 100%;
    height: 450px;
    background-color: var(--background);
    filter: grayscale(0.2) contrast(1.1);
    /* Subtle darkening for theme fit */
}

.mapFrame {
    width: 100%;
    height: 100%;
    border: 0;
}